<!DOCTYPE html>
<html>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<head>
    <title>Погода на маршруте</title>
</head>
<body>
    <h1>Введите точки маршрута</h1>
    <form method="post">

        <label for="start">Широта начальной точки:</label>
        <input type="text" id="lat_start" name="lat_start" required><br><br>

        <label for="start">Долгота начальной точки:</label>
        <input type="text" id="lon_start" name="lon_start" required><br><br>

        <label for="start">Широта конечной точки:</label>
        <input type="text" id="lat_end" name="lat_end" required><br><br>

        <label for="start">Долгота конечной точки:</label>
        <input type="text" id="lon_end" name="lon_end" required><br><br>

        <input type="submit" value="Получить данные о погоде">
    </form>
</body>
</html>